* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, select, textarea {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

body {
  background-color: #fff;
  color: #000;
}

.header {
  background-color: #ffffff;
}
.header__container {
  display: grid;
  grid-template-columns: max-content auto max-content max-content max-content;
  align-items: center;
}
@media (min-width: 64rem) {
  .header__container {
    padding: 0 3.75rem;
    grid-template-columns: max-content max-content repeat(3, auto) max-content max-content;
    grid-template-areas: "logo title categories favorites bookcase shopping user";
    gap: 0.625rem;
    align-items: center;
    text-align: center;
  }
}
.header__menu {
  position: relative;
  padding: 1.5625rem 1.25rem;
}
@media (min-width: 64rem) {
  .header__menu {
    grid-area: categories;
    padding-right: 0;
  }
}
.header__menu svg {
  color: #002f52;
}
@media (min-width: 64rem) {
  .header__menu svg {
    display: none;
  }
}
.header__menu-active {
  background: linear-gradient(90deg, #002f52 0%, #326589 100%);
}
@media (min-width: 64rem) {
  .header__menu-active {
    background: #ffffff;
    padding: 0.9375rem 0.625rem;
  }
}
.header__menu-active svg {
  color: #ffffff;
}
.header__categories {
  display: none;
}
@media (min-width: 64rem) {
  .header__categories {
    display: block;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    justify-self: right;
  }
  .header__categories-active {
    background: linear-gradient(90deg, #002f52 0%, #326589 100%);
    color: #ffffff;
    padding: 0.625rem;
  }
}
.header__list {
  display: none;
}
.header__list-active {
  display: inline-block;
  position: absolute;
  color: #002f52;
  background-color: #ffffff;
  top: 4.625rem;
  left: 0;
  padding: 0.625rem 2.5rem 1.25rem 0.3125rem;
}
@media (min-width: 64rem) {
  .header__list-active {
    text-align: left;
    top: 80%;
    left: 40%;
    padding: 0;
  }
}
.header__item {
  padding: 1.25rem 1.875rem 1.25rem 1.25rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #002f52;
  text-transform: uppercase;
}
@media (min-width: 64rem) {
  .header__item:hover {
    background: linear-gradient(90deg, #002f52 0%, #326589 100%);
    color: #ffffff;
  }
}
.header__item:first-child h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #eb9b00;
  text-transform: capitalize;
}
@media (min-width: 64rem) {
  .header__item:first-child {
    display: none;
  }
}
.header__favorites {
  display: none;
}
@media (min-width: 64rem) {
  .header__favorites {
    display: block;
    grid-area: favorites;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
  }
}
.header__bookcase {
  display: none;
}
@media (min-width: 64rem) {
  .header__bookcase {
    display: block;
    grid-area: bookcase;
    justify-self: left;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
  }
}
@media (min-width: 64rem) {
  .header__img_favorites {
    display: none;
  }
}
.header__logo {
  padding-left: 0.9375rem;
  margin-bottom: 0.3125rem;
}
@media (min-width: 64rem) {
  .header__logo {
    grid-area: logo;
  }
}
.header__title {
  display: none;
}
@media (min-width: 64rem) {
  .header__title {
    display: block;
    grid-area: title;
    margin-bottom: 0.625rem;
  }
}
.header__shopping {
  margin-left: 0.9375rem;
}
@media (min-width: 64rem) {
  .header__shopping {
    grid-area: shopping;
  }
}
.header__user {
  margin-left: 0.9375rem;
  padding-right: 1.25rem;
}
@media (min-width: 64rem) {
  .header__user {
    grid-area: user;
    margin-left: 1.9375rem;
  }
}

.banner {
  background-color: #002f52;
  padding: 1.625rem 1rem;
  text-align: center;
}
@media (min-width: 64rem) {
  .banner {
    padding: 4.625rem 1rem;
  }
}
.banner__subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 0.4375rem;
}
@media (min-width: 64rem) {
  .banner__subtitle {
    font-size: 2.25rem;
  }
}
.banner__text {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 1.1875rem;
}
.banner__search {
  border: 0.0625rem solid #ffffff;
  border-radius: 1.5rem;
  width: 100%;
  max-width: 36.625rem;
  height: 2.75rem;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  padding: 0 0.3125rem 0.125rem 0.625rem;
}
.banner__search::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  padding-left: 1.875rem;
  background-image: url(../assets/images/magnifying-glass.svg);
  background-repeat: no-repeat;
  background-position: 6% 90%;
}
@media (min-width: 64rem) {
  .banner__search::placeholder {
    background-position: 28% 90%;
  }
}

.carousel {
  background-color: #ebecee;
}
.carousel__subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #eb9b00;
  text-align: center;
  padding: 1.125rem 0;
  text-transform: uppercase;
  background-color: #ffffff;
}
@media (min-width: 64rem) {
  .carousel__subtitle {
    padding-top: 3.1875rem;
    font-size: 1.625rem;
  }
}
.carousel__indicators {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0;
}
@media (min-width: 64rem) {
  .carousel__indicators {
    padding-top: 1.9375rem;
  }
}
.carousel__indicator {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 5px;
  background: linear-gradient(90deg, #002f52 0%, #326589 100%);
}
@media (min-width: 64rem) {
  .carousel__indicator {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 6px;
  }
}
.carousel__indicator-disable {
  background: #c4c4c4;
}
.carousel__books {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;
}
@media (min-width: 64rem) {
  .carousel__books {
    padding: 3.8125rem;
    gap: 4.0625rem;
  }
}
.carousel__book {
  width: 40%;
  max-width: 11.875rem;
  box-shadow: 0.125rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
}
.carousel__book-preview {
  width: 20%;
}
.carousel__book-disable {
  display: none;
}

.card {
  padding: 1.25rem 1.25rem;
  background-color: #ebecee;
}
.card__container {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1.25rem 0.875rem;
  border-radius: 0.625rem;
  gap: 0.75rem;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}
.card__column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-around;
  align-items: start;
}
.card__subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #eb9b00;
}
.card__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #002f52;
}
.card__text {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #000000;
}
.card__buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.card__find_out {
  padding: 0.75rem 0;
  width: 100%;
  max-width: 10.125rem;
  background-color: #eb9b00;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #ebecee;
  text-align: center;
}

.topics {
  background: linear-gradient(90deg, #002f52 0%, #326589 100%);
  text-align: center;
}
.topics__subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  padding: 1.5rem 0 1.5rem 0;
}
.topics__list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.5rem;
}
.topics__items {
  padding: 1rem 1.5rem;
  background-color: #eb9b00;
  color: #ffffff;
}

.newsletter {
  background-color: #ffffff;
  padding: 1.5rem 1.5rem;
}
.newsletter__subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  color: #002f52;
  margin-bottom: 0.5rem;
}
.newsletter__text {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #002f52;
  margin-bottom: 1.5rem;
}
.newsletter__email {
  border: 0.0625rem solid #002f52;
  border-radius: 1.5rem;
  height: 2.75rem;
  width: 100%;
  text-align: center;
}
.newsletter__email::placeholder {
  background-image: url(../assets/images/email.svg);
  background-repeat: no-repeat;
  background-position: left 1.25rem center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #002f52;
}

.footer {
  background-color: #ffffff;
  border-top: 0.0625rem solid #858585;
  padding: 0 1.5rem;
}
.footer__text {
  padding: 1.0625rem 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
}

/*# sourceMappingURL=index.css.map */
