@use "tools";

.banner{
    background-color: tools.$tertiary-color;
    padding: tools.px-to-rem(26) tools.px-to-rem(16);
    text-align: center;

    @include tools.device(tablet){
        padding: tools.px-to-rem(74) tools.px-to-rem(16);
    }

    &__subtitle{
        font-family: tools.$font;
        font-size: tools.$font-medium;
        font-weight: tools.$weight-bold;
        color: tools.$primary-color;
        margin-bottom: tools.px-to-rem(7);

        @include tools.device(tablet){
            font-size: tools.$font-xxxxlarge;
        }
    }

    &__text{
        font-family: tools.$font;
        font-size: tools.$font-regular;
        font-weight: tools.$weight-medium;
        color: tools.$primary-color;
        margin-bottom: tools.px-to-rem(19);
    }

    &__search{
        border: tools.px-to-rem(1) solid tools.$primary-color;
        border-radius: tools.px-to-rem(24);
        width: 100%;
        max-width: tools.px-to-rem(586);
        height: tools.px-to-rem(44);
        color: tools.$primary-color;
        font-family: tools.$font;
        font-weight: tools.$weight-regular;
        font-size: tools.$font-small;
        padding: 0 tools.px-to-rem(5) tools.px-to-rem(2) tools.px-to-rem(10);

        &::placeholder {
            font-family: tools.$font;
            font-size: tools.$font-small;
            font-weight: tools.$weight-regular;
            color: tools.$primary-color;
            text-align: center;
            padding-left: tools.px-to-rem(30);
            background-image: url(../assets/images/magnifying-glass.svg);
            background-repeat: no-repeat;
            background-position: 6% 90%;

            @include tools.device(tablet){
                background-position: 28% 90%;
            }
        }
    }
}