@use "tools";

.book-carousel {
    background-color: tools.$background-color;

    &__subtitle {
        @include tools.subtitle-carousel;
    }

    &__indicators {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: tools.px-to-rem(12) 0;
    }

    &__indicator {
        width: tools.px-to-rem(10);
        height: tools.px-to-rem(10);
        border-radius: 5px;
        @include tools.gradient;

        &-disable {
            background: tools.$indicator-disable;
        }
    }

    &__carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: tools.px-to-rem(15);
        padding-bottom: tools.px-to-rem(10);
    }

    &__book {
        width: 50%;

        &-preview {
            width: 25%;
        }

        &-disable {
            display: none;
        }
    }
}
