@use "tools";

.book-carousel{
    
    &__subtitle{
        @include tools.subtitle-carousel;
    }
    
    &__carousel{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: tools.px-to-rem(15);
    }

    &__book{
        width: 50%;

        &-preview{
            width: 25%;
        }

        &-disable{
            display: none;
        }
    }
}