@use "tools";

.book-carousel {
    @include tools.book-carousel;

    &__subtitle {
        @include tools.subtitle-book-carousel;
    }

    &__indicators {
        @include tools.indicators-book-carousel;
    }

    &__indicator {
        @include tools.indicator-book-carousel;
        @include tools.gradient;

        &-disable {
            background: tools.$indicator-disable;
        }
    }

    &__carousel {
        @include tools.carousel-book-carousel;
    }

    &__book {
        width: 40%;
        box-shadow: tools.px-to-rem(2) tools.px-to-rem(4) tools.px-to-rem(8) rgb(0 0 0 / 0.15);

        &-preview {
            width: 20%;
        }

        &-disable {
            display: none;
        }
    }
}
