@use "tools";

.container {
    &__subtitle {
        font-family: tools.$font;
        font-size: tools.$font-medium;
        font-weight: tools.$weight-bold;
        color: tools.$secondary-color;
        text-align: center;
        padding: tools.px-to-rem(18) 0;
        text-transform: uppercase;
        background-color: tools.$primary-color;

        @include tools.device(tablet) {
            padding-top: tools.px-to-rem(51);
            font-size: tools.$font-xxlarge;
        }

        @include tools.device(desktop) {
            font-size: tools.$font-xxxlarge;
        }
    }
}

.main-area {
    @include tools.device(desktop) {
        padding-top: tools.px-to-rem(30);
        padding-bottom: tools.px-to-rem(100);
        display: flex;
        background-color: tools.$background-color;
        align-items: center;
        justify-content: space-evenly;
    }
}

.carousel {
    background-color: tools.$background-color;

    &__indicators {
        background-color: tools.$background-color;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: tools.px-to-rem(12) 0;

        @include tools.device(tablet) {
            padding-top: tools.px-to-rem(31);
        }
    }

    &__indicator {
        width: tools.px-to-rem(10);
        height: tools.px-to-rem(10);
        border-radius: 5px;
        @include tools.gradient;

        @include tools.device(tablet) {
            width: tools.px-to-rem(12);
            height: tools.px-to-rem(12);
            border-radius: 6px;
        }

        &-disable {
            background: tools.$indicator-disable;
        }
    }

    &__books {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: tools.px-to-rem(15);

        @include tools.device(tablet) {
            padding: tools.px-to-rem(61);
            gap: tools.px-to-rem(65);
        }

        @include tools.device(desktop) {
            padding-top: tools.px-to-rem(30);
        }
    }

    &__book {
        width: 40%;
        max-width: tools.px-to-rem(190);
        @include tools.shadow-book;

        &-preview {
            width: 20%;
        }

        &-disable {
            display: none;
        }
    }
}
