@use "tools";

.card {
    padding: tools.px-to-rem(20) tools.px-to-rem(20);
    background-color: tools.$background-color;

    &__container {
        background-color: tools.$primary-color;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: tools.px-to-rem(20) tools.px-to-rem(14);
        border-radius: tools.px-to-rem(10);
        gap: tools.px-to-rem(12);
        @include tools.shadow-card;
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: tools.px-to-rem(8);
        justify-content: space-around;
        align-items: start;
    }

    &__subtitle {
        font-family: tools.$font;
        font-size: tools.$font-regular;
        font-weight: tools.$weight-bold;
        color: tools.$secondary-color;
    }

    &__title {
        font-family: tools.$font;
        font-size: tools.$font-medium;
        font-weight: tools.$weight-bold;
        color: tools.$tertiary-color;
    }

    &__text {
        font-family: tools.$font;
        font-size: tools.$font-small;
        font-weight: tools.$weight-regular;
        color: tools.$complementary-color;
    }

    &__buttons {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    &__find_out {
        padding: tools.px-to-rem(12) 0;
        width: 100%;
        max-width: tools.px-to-rem(162);
        background-color: tools.$secondary-color;
        font-family: tools.$font;
        font-size: tools.$font-regular;
        font-weight: tools.$weight-bold;
        color: tools.$background-color;
        text-align: center;
    }
}
