@use "tools";

.carousel {
    background-color: tools.$background-color;

    &__subtitle {
        font-family: tools.$font;
        font-size: tools.$font-medium;
        font-weight: tools.$weight-bold;
        color: tools.$secondary-color;
        text-align: center;
        padding: tools.px-to-rem(18) 0;
        text-transform: uppercase;
        background-color: tools.$primary-color;
    }

    &__indicators {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: tools.px-to-rem(12) 0;
    }

    &__indicator {
        width: tools.px-to-rem(10);
        height: tools.px-to-rem(10);
        border-radius: 5px;
        @include tools.gradient;

        &-disable {
            background: tools.$indicator-disable;
        }
    }

    &__books {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: tools.px-to-rem(15);
    }

    &__book {
        width: 40%;
        @include tools.shadow-book;

        &-preview {
            width: 20%;
        }

        &-disable {
            display: none;
        }
    }
}
