@use "tools";

.footer{
    background-color: tools.$primary-color;
    border-top: tools.px-to-rem(1) solid tools.$shadow;
    padding: 0 tools.px-to-rem(24);

    &__text{
        padding: tools.px-to-rem(17) 0;
        font-family: tools.$font;
        font-size: tools.$font-regular;
        font-weight: tools.$weight-regular;
        color: tools.$complementary-color;
    }
}