@use "variables";
@use "tools";

.header {
    background-color: variables.$primary-color;

    &__container {
        display: grid;
        grid-template-columns: max-content auto max-content max-content max-content;
        align-items: center;
    }

    &__menu {
        position: relative;
        padding: tools.px-to-rem(25rem) tools.px-to-rem(20rem);
        svg {
            color: variables.$tertiary-color;
        }
        &-active {
            @include tools.gradient;
            svg {
                color: variables.$primary-color;
            }
        }
    }

    &__list {
        display: none;
        &-active {
            display: inline-block;
            position: absolute;
            color: variables.$tertiary-color;
            background-color: variables.$primary-color;
            top: tools.px-to-rem(74rem);
            left: 0;
            padding: tools.px-to-rem(20rem) tools.px-to-rem(100rem) tools.px-to-rem(20rem) tools.px-to-rem(20rem);
        }
    }

    &__logo {
        padding-left: tools.px-to-rem(15rem);
    }

    &__shopping {
        margin-left: tools.px-to-rem(15rem);
    }

    &__user {
        margin-left: tools.px-to-rem(15rem);
        padding-right: tools.px-to-rem(20rem);
    }
}
