@use "tools";

.header {
    background-color: tools.$primary-color;

    &__container {
        display: grid;
        grid-template-columns: max-content auto max-content max-content max-content;
        align-items: center;
    }

    &__menu {
        position: relative;
        padding: tools.px-to-rem(25) tools.px-to-rem(20);
        svg {
            color: tools.$tertiary-color;
        }
        &-active {
            @include tools.gradient;
            svg {
                color: tools.$primary-color;
            }
        }
    }

    &__list {
        display: none;
        &-active {
            display: inline-block;
            position: absolute;
            color: tools.$tertiary-color;
            background-color: tools.$primary-color;
            top: tools.px-to-rem(74);
            left: 0;
            padding: tools.px-to-rem(20) tools.px-to-rem(100) tools.px-to-rem(20) tools.px-to-rem(20);
        }
    }

    &__logo {
        padding-left: tools.px-to-rem(15);
    }

    &__shopping {
        margin-left: tools.px-to-rem(15);
    }

    &__user {
        margin-left: tools.px-to-rem(15);
        padding-right: tools.px-to-rem(20);
    }
}
