@use "tools";

.header {
    background-color: tools.$primary-color;

    &__container {
        display: grid;
        grid-template-columns: max-content auto max-content max-content max-content;
        align-items: center;

        @include tools.device(tablet) {
            padding: 0 tools.px-to-rem(60);
            grid-template-columns: max-content max-content repeat(3, auto) max-content max-content;
            grid-template-areas: "logo title categories favorites bookcase shopping user";
            gap: tools.px-to-rem(10);
            align-items: center;
            text-align: center;
        }

        @include tools.device(desktop) {
            grid-template-columns: max-content max-content max-content max-content auto max-content max-content;
            grid-template-areas: "logo title categories favorites bookcase shopping user";
        }
    }

    &__menu {
        position: relative;
        padding: tools.px-to-rem(25) tools.px-to-rem(20);
        
        @include tools.device(tablet) {
            grid-area: categories;
            padding-right: 0;
            padding: tools.px-to-rem(15) 0 tools.px-to-rem(15) tools.px-to-rem(10);
        }

        @include tools.device(desktop) {
            padding-left: tools.px-to-rem(55);
        }

        svg {
            color: tools.$tertiary-color;

            @include tools.device(tablet) {
                display: none;
            }
        }

        &-active {
            @include tools.gradient;
            @include tools.device(tablet) {
                background: tools.$primary-color;
            }

            svg {
                color: tools.$primary-color;
            }
        }
    }

    &__categories {
        display: none;

        @include tools.device(tablet) {
            display: block;
            cursor: pointer;
            font-family: tools.$font;
            font-size: tools.$font-regular;
            font-weight: tools.$weight-regular;
            color: tools.$complementary-color;
            text-transform: uppercase;
            justify-self: right;
            padding: tools.px-to-rem(10);
            
            &-active {
                @include tools.gradient;
                color: tools.$primary-color;
                padding: tools.px-to-rem(10);
            }
        }

        @include tools.device(desktop) {
            justify-self: center;
        }
    }

    &__list {
        display: none;

        &-active {
            display: inline-block;
            position: absolute;
            color: tools.$tertiary-color;
            background-color: tools.$primary-color;
            top: tools.px-to-rem(74);
            left: 0;
            padding: tools.px-to-rem(10) tools.px-to-rem(40) tools.px-to-rem(20) tools.px-to-rem(5);

            @include tools.device(tablet) {
                text-align: left;
                top: 80%;
                left: 40%;
                padding: 0;
            }
        }
    }

    &__item {
        padding: tools.px-to-rem(20) tools.px-to-rem(30) tools.px-to-rem(20) tools.px-to-rem(20);
        font-family: tools.$font;
        font-size: tools.$font-regular;
        font-weight: tools.$weight-regular;
        color: tools.$tertiary-color;
        text-transform: uppercase;

        @include tools.device(tablet) {
            &:hover {
                @include tools.gradient;
                color: tools.$primary-color;
            }
        }

        &:first-child {
            h2 {
                font-family: tools.$font;
                font-size: tools.$font-regular;
                font-weight: tools.$weight-bold;
                color: tools.$secondary-color;
                text-transform: capitalize;
            }
            @include tools.device(tablet) {
                display: none;
            }
        }
    }

    &__favorites {
        display: none;

        @include tools.device(tablet) {
            display: block;
            grid-area: favorites;

            font-family: tools.$font;
            font-size: tools.$font-regular;
            font-weight: tools.$weight-regular;
            color: tools.$complementary-color;
            text-transform: uppercase;
        }

        @include tools.device(desktop) {
            display: block;
            padding: 0 tools.px-to-rem(25) ;
        }
    }

    &__bookcase {
        display: none;

        @include tools.device(tablet) {
            display: block;
            grid-area: bookcase;
            justify-self: left;
            padding-left: tools.px-to-rem(10);
            font-family: tools.$font;
            font-size: tools.$font-regular;
            font-weight: tools.$weight-regular;
            color: tools.$complementary-color;
            text-transform: uppercase;
        }
    }

    &__img_favorites {
        @include tools.device(tablet) {
            display: none;
        }
    }

    &__logo {
        padding-left: tools.px-to-rem(15);
        margin-bottom: tools.px-to-rem(5);
        @include tools.device(tablet) {
            grid-area: logo;
        }
    }

    &__title {
        display: none;

        @include tools.device(tablet) {
            display: block;
            grid-area: title;
            margin-bottom: tools.px-to-rem(10);
        }
    }

    &__shopping {
        margin-left: tools.px-to-rem(15);

        @include tools.device(tablet) {
            grid-area: shopping;
        }

        @include tools.device(desktop) {
            display: flex;
            align-items: center;
            gap: tools.px-to-rem(6);
        }
    }

    &__shopping_text {
        display: none;
        @include tools.device(desktop) {
            display: block;
            font-family: tools.$font;
            font-size: tools.$font-large;
            font-weight: tools.$weight-regular;
            color: tools.$complementary-color;
        }
    }

    &__user {
        margin-left: tools.px-to-rem(15);
        padding-right: tools.px-to-rem(20);
        
        @include tools.device(tablet) {
            grid-area: user;
            margin-left: tools.px-to-rem(31);
        }
        
        @include tools.device(desktop) {
            margin-left: tools.px-to-rem(45);
            display: flex;
            align-items: center;
            gap: tools.px-to-rem(6);
        }
    }

    &__user_text {
        display: none;
        @include tools.device(desktop) {
            display: block;
            font-family: tools.$font;
            font-size: tools.$font-large;
            font-weight: tools.$weight-regular;
            color: tools.$complementary-color;
        }
    }
}
