@use "tools";

.topics{
    @include tools.gradient;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__subtitle{
        font-family: tools.$font;
        font-size: tools.$font-regular;
        font-weight: tools.$weight-light;
        color: tools.$primary-color;
        text-transform: uppercase;
        padding: tools.px-to-rem(24) 0 tools.px-to-rem(24) 0;
        @include tools.device(tablet){
            font-size: tools.$font-xlarge;
        }
    }

    &__list{
        padding-bottom: tools.px-to-rem(24);
        max-width: tools.px-to-rem(660);
        display: flex;
        gap: tools.px-to-rem(16);
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    &__items{
        padding: tools.px-to-rem(16) tools.px-to-rem(24);
        background-color: tools.$secondary-color;
        color: tools.$primary-color;
    }
}