$primary-color: #ffffff;
$secondary-color: #EB9B00;
$tertiary-color: #002F52;
$complementary-color: #000000;
$gradient-color: #326589; 

$font: "Poppins", sans-serif;

$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;

$font-small: 14px;
$font-regular: 16px;
$font-medium: 18px;
$font-large: 20px;
$font-xlarge: 24px;
$font-xxlarge: 32px;
$font-xxxlarge: 36px;